[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statsbombpy = "*"
langchain-google-genai = "*"
langchain = "*"
python-dotenv = "*"
langchain-tools = "*"
langchain-experimental = "*"
tabulate = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
